<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="JMS_COMMON の規則" Description="JMS_COMMON.vbproj のコード分析の規則です。" ToolsVersion="15.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1709" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
    <Rule Id="CA1052" Action="None" />
  </Rules>
</RuleSet>